<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/login.css">
    <!--폰트-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@500;600;800&display=swap" rel="stylesheet">

    
    <title>로그인페이지</title>
</head>
<body>
    <header>
        <div id="sub-logo"><a href="/">
                <h2>whats the next</h2>
            </a></div>

    </header>
    <section class="login-form">
        <h1>LOGIN</h1>
        <form th:action="@{/user/login}" method ="post">
            <div class="int-area">
                <input type="text" name="username" id="id" autocomplete="off" required>
                <label for="id">USER ID</label>
            </div>
            <div class="int-area">
                <input type="password" name="password" id="pw" autocomplete="off" required>
                <label for="pw">PASSWORD</label>
            </div>
            <div class="btn-area">
             					<span style="color:red;" th:if = "${param.error}"> 아이디 비밀번호 틀림</span>
                <button id="btn" type="submit">LOGIN</button>
            </div>
        </form>
        <div class="caption">
            <a href="#">Forgot ID / PASSWORD ? </a>
            <a href="/user/inroll">Join Us! </a>
        </div>
    </section>

    <script>/*인풋값 없을 때 문구가 떨리는 애니메이션효과 */
        let id = document.querySelector('#id')
        let pw = document.querySelector('#pw')
        let btn = document.querySelector('#btn')

        btn.addEventListener('click',() => {
            if(id.value == ""){
                label = id.nextElementSibling
                label.classList.add('warning')
                setTimeout(() => {label.classList.remove('warning')},1500)
            }else if(pw.value == ""){
                label = pw.nextElementSibling
                label.classList.add('warning')
                setTimeout(() =>{label.classList.remove('warning')},1500)
            }
        })

    </script>
</body>
</html>